{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{% endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet?</p>
        </header>
        <section>
            <h3>article</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur?</p>
        </section>
        <section>
            <h3>Announcement</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur?</p>
        </section>
    </article>
{% endblock %}